*{
  box-sizing: border-box;
}

body{
  background-color: #F5F7FB;
  max-width: 100%;
  max-height: 100%;
}

.home{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}



.design-top{
  
  background-color: #FFFAD1;
  height: 300px;
  width: 300px;
  border-radius: 80px;
  margin-bottom: -16%;
  margin-left: 90%;
  margin-top: -2%;
  rotate: -50deg;
  overflow: hidden;
}

.design-bottom{
  background-color: #DEEBF8;
  height: 250px;
  width: 300px;
  border-radius: 25%;
  max-width: 100%;
  margin-right: 95%;
  margin-left: -9%;
  rotate: 130deg;
  overflow: hidden;

}
.home-data{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  background-color: #F5F7FB;
}

.quiz-name{
  color: #293264;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
}


.description{
  color: #293264;
  font-size: 20px;
  font-weight: 400;
}

.start-button{
  margin-top: 1%;
  background-color: #4D5B9E;
  color: white;
  width: 193px;
  height: 53px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}